/* normala skärmstorlekar nedan */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'AR One Sans', sans-serif;
}

header {
    display: grid;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 1rem;
}

.header__image {
    width: 10rem;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__item {
    margin: 1rem;
}

.btns {
    background: none;
    color: rgb(26, 2, 104);
    border: none;
    border-radius: 1rem;
    font-family: 'AR One Sans', sans-serif;
    font-size: 1rem;
    padding: 0.2rem 3rem;
    text-transform: uppercase;
    text-align: center;
}

.btns:hover {
    color: rgb(200, 6, 6);
}
/* SLUT PÅ HEADER */ 
.main {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('https://raw.githubusercontent.com/JoelKeskitalo/examination/main/photos/03-night.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__article {
    background-color: rgba(15, 14, 14, 0.353);
    border-radius: 2rem;
    height: 40vh;
    width: 50vw;
    margin-bottom: 10rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main__article__headline {
    font-size: 2.2rem;
    width: 50%;
    color: rgb(255, 255, 255);
    line-height: 2.5rem;
    text-align: center;
}

.underline {
    width: 50%;
    height: 0.1rem;
    background-color: black;
    margin: 1rem 0;
}

.main__article__secondheadline {
    color: white;
    font-size: 1rem;
    width: 50%;
    text-align: center;
}

span {
    color: gold;
}

#rooms {
    background-color: rgb(5, 5, 42);
    width: 50%;
    color: rgb(255, 255, 255);
    border: 0.2rem solid black;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.2rem 3rem;
}

#rooms:hover {
    background-color: rgb(67, 38, 3);
}

/* ABOUT-page */ 
.about {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('https://raw.githubusercontent.com/JoelKeskitalo/examination/main/photos/09-night.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__article {
    background-color: rgba(15, 14, 14, 0.353);
    border-radius: 2rem;
    height: 80vh;
    width: 60vw;
    padding: 2rem;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.about__article__image {
    width: 50%;
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    text-align: center;
    justify-self: center;
}

.fa-beer {
    color: blue;
    grid-row: 3;
    grid-column: 1;
    font-size: 1.5rem;
    text-align: center;
}

.about__article__headline--evening {
    color: rgb(0, 0, 0);
    grid-row: 3;
    grid-column: 1;
    font-size: 2rem;
    text-align: center;
    align-self: center;
    margin-top: 1rem;
}

.about__article__eveningtext {
    color: rgb(255, 255, 255);
    grid-row: 4;
    grid-column: 1;
    font-size: 0.7rem;
    text-align: center;
    justify-self: center;
    width: 70%;
}

.fa-hiking {
    color: blue;
    grid-row: 3;
    grid-column: 2;
    font-size: 1.7rem;
    text-align: center;
}

.about__article__headline--adventure {
    grid-row: 3;
    grid-column: 2;
    font-size: 2rem;
    text-align: center;
    align-self: center;
    margin-top: 1rem;
}

.about__article__adventuretext {
    color: white;
    grid-row: 4;
    grid-column: 2;
    font-size: 0.7rem;
    text-align: center;
    justify-self: center;
    width: 70%;
}

.fa-gamepad {
    color: blue;
    grid-row: 3;
    grid-column: 3;
    font-size: 1.7rem;
    text-align: center;
}

.about__article__headline--equipment {
    grid-row: 3;
    grid-column: 3;
    font-size: 2rem;
    text-align: center;
    align-self: center;
    margin-top: 1rem;
}

.about__article__equipmenttext {
    color: white;
    grid-row: 4;
    grid-column: 3;
    font-size: 0.7rem;
    text-align: center;
    justify-self: center;
    width: 70%;
}

.about__article__featuredheadline {
    color: white;
    grid-row: 6;
    grid-column: 2;
    font-size: 2rem;
    text-align: center;
}

.about__underline {
        grid-row: 7;
        grid-column: 2;
        height: 0.1rem;
        background-color: black;
        margin: 1rem 0;
}

.about__article__leftpicture {
    grid-row: 8;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about__article__leftpicture__image {
    width: 50%;
    border: 0.2rem solid black;
}

.about__article__midpicture {
    grid-row: 8;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__article__midpicture__image {
    width: 50%;
    border: 0.2rem solid black;
}

.about__article__rightpicture {
    grid-row: 8;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__article__rightpicture__image {
    width: 50%;
    border: 0.2rem solid black;
}

/* BOOKING page */ 

.booking {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('https://raw.githubusercontent.com/JoelKeskitalo/examination/main/photos/05-day.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking__article {
    background-color: rgba(15, 14, 14, 0.353);
    color: white;
    border-radius: 2rem;
    height: 90vh;
    width: 90vw;
    padding: 2rem;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem 3rem;
    text-align: center;
}

.booking__article__type {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.booking__article__type--typebutton {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking__article__type--typebutton::after {
    content: "\25B6"; /* Unicode-tecken för en högerpil */
    transform: rotate(90deg);
    cursor: pointer;
}

.booking__article__guests {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.booking__article__guests--guestsbutton {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking__article__guests--guestsbutton::after {
    content: "\25B6";
    transform: rotate(90deg);
    cursor: pointer;
}

.booking__article__price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.booking__article__price__slider {
    width: 100%;
    height: 1rem;
    background-color: rgb(14, 2, 83);
    border-radius: 1rem;
}

.booking__article__price__slider__dot {
    width: 1rem;
    height: 1rem;
    background-color: yellow;
    border-radius: 50%;
    cursor: pointer;
}

.booking__article__size {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.booking__article__size__textcontainer {
    display: flex;
}

input[type="text"] {
    width: 50%;
}

.booking__article__accomodations {
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking__article__accomodations__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.booking__article__accomodations__list label {
    margin-left: 1rem;
}

.booking__article__accomodations__list li {
    display: flex;
    margin-bottom: 1rem;
}

.booking__article__picture1 {
    background-image: url('https://raw.githubusercontent.com/JoelKeskitalo/examination/main/photos/01-night.jpg');
    background-size: cover;
    background-position: center center;
    border: 0.1rem solid black;
    color: white;
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking__article__picture2 {
    background-image: url('https://raw.githubusercontent.com/JoelKeskitalo/examination/main/photos/02-night.jpg');
    background-size: cover;
    background-position: center center;
    border: 0.1rem solid black;
    color: white;
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking__article__picture3 {
    background-image: url('https://raw.githubusercontent.com/JoelKeskitalo/examination/main/photos/03-night.jpg');
    background-size: cover;
    background-position: center center;
    border: 0.1rem solid black;
    color: white;
    grid-column: 3;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking__article__picture4 {
    background-image: url('https://raw.githubusercontent.com/JoelKeskitalo/examination/main/photos/04-night.jpg');
    background-size: cover;
    background-position: center center;
    border: 0.1rem solid black;
    color: white;
    grid-column: 4;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking__article__picture5 {
    background-image: url('https://raw.githubusercontent.com/JoelKeskitalo/examination/main/photos/05-night.jpg');
    background-size: cover;
    background-position: center center;
    border: 0.1rem solid black;
    color: white;
    grid-column: 5;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking__article__picture6 {
    background-image: url('https://raw.githubusercontent.com/JoelKeskitalo/examination/main/photos/06-night.jpg');
    background-size: cover;
    background-position: center center;
    border: 0.1rem solid black;
    color: white;
    grid-column: 1;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking__article__picture7 {
    background-image: url('https://raw.githubusercontent.com/JoelKeskitalo/examination/main/photos/07-night.jpg');
    background-size: cover;
    background-position: center center;
    border: 0.1rem solid black;
    color: white;
    grid-column: 2;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking__article__picture8 {
    background-image: url('https://raw.githubusercontent.com/JoelKeskitalo/examination/main/photos/08-night.jpg');
    background-size: cover;
    background-position: center center;
    border: 0.1rem solid black;
    color: white;
    grid-column: 3;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking__article__picture9 {
    background-image: url('https://raw.githubusercontent.com/JoelKeskitalo/examination/main/photos/01-day.jpg');
    background-size: cover;
    background-position: center center;
    border: 0.1rem solid black;
    color: white;
    grid-column: 4;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking__article__picture10 {
    background-image: url('https://raw.githubusercontent.com/JoelKeskitalo/examination/main/photos/09-night.jpg');
    background-size: cover;
    background-position: center center;
    border: 0.1rem solid black;
    color: white;
    grid-column: 5;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking__article__picture1 h1,
.booking__article__picture2 h2,
.booking__article__picture3 h3,
.booking__article__picture4 h4,
.booking__article__picture5 h5,
.booking__article__picture6 h6,
.booking__article__picture7 h1,
.booking__article__picture8 h2,
.booking__article__picture9 h3,
.booking__article__picture10 h4 {
    font-size: 1rem; 
    margin: 0; 
    background-color: black;
    color: white; /* Justera textfärgen efter dina önskemål */
    text-align: center; /* Centrera texten om det behövs */
}

.booking__article__picture1:hover,
.booking__article__picture2:hover,
.booking__article__picture3:hover,
.booking__article__picture4:hover,
.booking__article__picture5:hover,
.booking__article__picture6:hover,
.booking__article__picture7:hover,
.booking__article__picture8:hover,
.booking__article__picture9:hover,
.booking__article__picture10:hover {
    transform: scale(1.3); /* Förstorar bilden med 10% */
    cursor: pointer; /* Ändrar muspekaren till en hand när du hover över bilden */
}
/* mindre skärmstorlekar nedan */

@media (max-width: 768px) {
    .header__image {
        width: 8rem;
    }

    .btns {
        font-size: 0.8rem;
    }

    .main__article {
        height: auto;
        width: 90%;
        margin-bottom: 5rem;
    }

    .main__article__headline {
        font-size: 1.8rem;
        width: 80%;
        line-height: 2rem;
    }

    .underline {
        width: 70%;
    }

    .main__article__secondheadline {
        font-size: 0.9rem;
        width: 70%;
    }

    #rooms {
        width: 70%;
    }

    .about__article {
        width: 80%
    }

    .about__article__headline {
        font-size: 1.8rem; 

    }

    .about__underline {
        width: 60%;
    }

    .about__article__secondheadline {
        font-size: 0.8rem;
        width: 60%;
    }

    .about__article__image {
        width: 30%;
    }

    .about__article__headline--evening,
    .about__article__headline-adventure,
    .about__article__headline--equipment {
        font-size: 1.6rem;
        width: 100%;
    }

    .about__article__leftpicture__image,
    .about__article__midpicture__image, 
    .about__article__rightpicture__image {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .header__image {
        width: 6rem;
    }

    .btns {
        font-size: 0.7rem;
    }
}

